import 

.body, html{
  margin:0;
  padding: 0;
  font-family: 'News Cycle', sans-serif !important;
  color: #242424;
  line-height: 1.5;
}

.home{
  margin:auto;
  width:100%;
  height:450px;
  position: relative;;
  display: flex;
  justify-content: center;
  /* background-image: url("https://images.unsplash.com/photo-1533168461629-51f6f8061c68?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjI4NTMwfQ"); */
  background-image: url('../img/home-image.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 4;
}

.home-text, .next{
  z-index: 4;
}
.skew{
  position: absolute;;
  height:120%;
  width:100%;
  z-index: 3;
  transform: skewY(-5deg);
}

.hero-title{
    font-size: 55px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
}

.logo-font {
  font-size: 55px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  color: white;
  line-height: 51px;
}

.developer h1{
  font-size: 60px;
  color:#FFF;
  font-weight: 900;
  margin:0;
  text-align: left;
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #4ef1fb;
  font-size: 64px;
  font-family: 'Libre Baskerville', serif;
  animation: web-dev 2.5s linear both
}



#perfection{
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 0.01em;
  animation: rotate .6s 3s linear both;
  opacity: 0;
  padding:10px;
  border-radius: 5px;
}

.translate{
  animation: translate .6s 3s linear both;
}

.pop-pop{
  padding-left: 1px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'News Cycle', sans-serif;
  font-size: 22px;
  font-weight: 400;
  z-index: 100;
  color: white;
}

.home-text, .next{
  margin:auto;
  width:60%;
  text-align: left;
}

.next{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid rgb(255, 64, 64);
  position: relative;
  bottom:-50px;
  transition: .3s ease;
}

.next:hover{
  cursor: pointer;
  border-top-color: rgb(172, 0, 0);
}

@keyframes web-dev {
  0%{
    text-shadow: 0px 0px 40px #FFF;
    opacitiy:0.1;
    -webkit-text-stroke-width: 0px;
    }
  25%{
    opacity:0.5;
    -webkit-text-stroke-width: 0px;
    text-shadow: 0px 0px 40px #FFF;
  }
  50%{
    opacity:1;
    text-shadow:none;
    -webkit-text-stroke-width: 0px;

  }
  75%{
    opacity:1;
    text-shadow: 0px 0px 30px #4ef1fb;
    -webkit-text-stroke-width: 0px;
  }
  100%{
    opacity:1;
    -webkit-text-stroke-width: 3px;
  }
}
@keyframes rotate {
  /*better rotate */
  0%{
    transform: rotate(0deg) scale(0.1);
    opacity:0;
    text-shadow: none;
  }
  90%{
    transform: rotate(770deg) scale(1);
    opacity: 1;
    text-shadow: none;
  }
  100%{
    transform: rotate(770deg) scale(1);
    opacity: 1;
    text-shadow: 5px 5px 3px rgb(98, 0, 0);
  }
}
@keyframes translate {
  0%{
    transform:translateX(150px) translateY(-100px);
  }
  100%{
    transform:translateX(-200px) translateY(-30px);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* ---------------------------------------MOBILE--------------------------------------- */
@media (min-width: 320px) and (max-width: 734px) {
  #str{
    font-size: 22px;
    margin-left:-50px;

  }

  .home {
    margin: auto;
    width: 100%;
    height: 407px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url('../img/home-image.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
  }
}