@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');

#tech{
  width:100%;
  height: 419px;
  padding: 36px 10% 0 10%;
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  position: relative;
  background-color: #fff;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(55, 75, 99);
  text-align: center;
}

.icon-container{
  position: relative;
  width:95%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-weight: 100;
  font-size: 26px;
  margin: 30px auto;
}

.tech-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 46px;
  color: white;
  clear: right;
  text-align: center;
}

.icon{
  width: 30%;
  height: auto;
  margin: 2% auto;
}

.icon:first-of-type {
  clear: left;
}

.icon img{
  margin:auto;
  width:80%;
  max-height:200px;
}

#work {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.Portfolio{
  width:100%;
  margin:auto;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.work-item {
  width: 95%;
  height: 700px;
  padding-top: 80px;
  margin : 0 auto;
  position: relative;
  overflow: hidden;
  background-color: rgba(248, 246, 247, 0.3);
}

.work-item img {
  max-width: 60%;
  height: auto; 
  display: inline-block;
  position: relative;
}

.right {
  float: right;
}

.reflect {
  -webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
}

.work-copy {
  top: 37px;
  width: 40%;
  height: 300px;
  padding-left: 20px;
  display: inline-block;
  position: absolute;
  word-wrap: break-word;
}

.work-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 36px;
  margin: 0px;
  top: -10%;
  word-wrap: break-word;
}

.work-description {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'News Cycle', sans-serif !important;
  word-wrap: break-word;
}

.technologies-used-title {
  padding-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin: 0px;
  word-wrap: break-word;
  text-transform: uppercase;
}

.tech-container {
  width: 100%;
  position: relative;
}

.technologies-used-text {
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 17px;
  display: inline-block;
  padding-right: 18px;
}

.cta-container {
  width: 50%;
  margin-top: 45px;
  display: inline-block;
  text-align: center;
}

.cta {
  width: 100px;
  height: 50px;
  padding-top: 10px;
  display: inline-block;
  border: 1px solid black;
  background-color: none;
  color: black;
  cursor: pointer;
}

.cta a {
  color: inherit;
  font-family: 'News Cycle', sans-serif !important;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.cta:hover {
  border: 1px solid white;
  background-color: rgb(59, 75, 97);
  color: white;
  -webkit-transition: all  0.3s ease; 
  -ms-transition: all  0.3s ease;
  transition: all 0.3s ease;
}


@keyframes pop {
  0%{
    transform: translateY(-100%) rotateX(90deg);
    opacity: 0;
  }
  100%{
    transform: translateY(10%) rotateX(0deg);
    opacity: 1;
  }
}

/* ---------------------------------------MOBILE--------------------------------------- */
@media (min-width: 320px) and (max-width: 734px) {
  .work-item {
    position: relative;
    /* height: 650px; */
    padding-top: 5px;
  }
  
  .work-item:first-of-type {
    margin-top: 50px;
    height: 628px;
  }

  .work-item:nth-of-type(2){
    height: 710px;
  }
  .work-item:nth-of-type(3){
    margin-top: 20px;
    height: 597px;
  }
  .work-item:nth-of-type(4){
    height: 551px;
  }
  
  .work-item img {
    max-width: 100%;
    height: auto; 
    display: block;
    position: relative;
  }

  .reflect {
    -webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(60%, transparent), to(rgba(255, 255, 255, 0.1)));
  }

  .work-copy {
    width: 95%;
    height: 300px;
    display: block;
    position: relative;
    word-wrap: break-word;
    clear: both;
  }

  .right {
    float: none;
  }

  .work-description {
    font-size: 15px;
  }

  .cta-container {
    margin-top: 15px;
  }

  .technologies-used-title {
    padding-top: 13px;
  }

  .skills-overlay {
    margin-top: 0;
  }

  .icon-container {
    margin: 30px 0;
    width: 100%;
  }

  .icon {
    width: 30%;
    height: auto;
    margin: 6% auto;
  }
}